 /* body{
    background-color: black;
    color: white;
}  */

@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Handjet:wght@100..900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Handjet", sans-serif;
}
.right{
    width:75vw;
}

.left{
    width:25vw;
    padding: 10px;
}

.Home ul li{
    width: 14px;
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 14px;
}
.iconSize{
    margin-left: 0;
    padding-left: 0;
    width: 12vw;
    height: 5vh;
}